* {
  text-align: center;
  color: white;
  width: auto;
}

body {
  font-size: 18px;
  font-family: "Lustria", serif;
  background-color: #010a01;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  font-size: 0.7rem;
  color: blanchedalmond;
  padding-top: 2rem;
  height: 3rem;
}

h1,
h2 {
  text-align: center;
  text-transform: lowercase;
  font-weight: 400;
}

h1 {
  font-size: 4.2rem;
  margin-bottom: 1rem;
  letter-spacing: 0.9rem;
}

h2 {
  font-size: 1.6rem;
  margin-bottom: 2.5rem;
  letter-spacing: 0.6rem;
}

h4 {
  margin: 0rem;
  font-size: 1rem;
}

a {
  text-transform: lowercase;
  text-decoration: none;
  margin: auto 1.8rem;
}

.icon-bundle {
  display: flex; 
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

a.contact-icons {
  margin: 0.3rem;
  width: 5%;
}

a:hover {
  color: black;
}

p {
  font-family: 'Tajawal', sans-serif;
  margin: auto;
  line-height: 1.5rem;
}

.container {
  margin-top: 17vh;
}

.neonText {
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #cb9a0f,
    0 0 82px #cb9a0f, 0 0 92px #cb9a0f, 0 0 102px #cb9a0f, 0 0 151px #cb9a0f;
}

.neonLink {
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #cb9a0f,
    0 0 82px #cb9a0f, 0 0 92px #cb9a0f, 0 0 102px #cb9a0f, 0 0 151px #cb9a0f;
}

.neonProject {
  color: #fff;
  letter-spacing: 0.6rem;
  margin: 0rem;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #24b9db,
    0 0 82px #24b9db, 0 0 92px #24b9db, 0 0 102px #24b9db, 0 0 151px #24b9db;
}

.ovid-quote {
  margin: 6rem auto;
  font-style: italic;
}

.profile-photo {
  border-radius: 50%;
  width: auto;
  margin-bottom: 2rem;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 4rem;
  padding-right: 4rem;
}

.technologies {
  border: 1px solid white;
  padding: 1rem;
  border-radius: 1rem;
  width: 45%;
  margin: auto;
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 2rem;
  }
}
